<ul class="networks">
    <% for ( network in content.profiles[profile].networks ) { %>
    <% if (content.profiles[profile].networks[network].icon) { %>
    <li class="networks__item"><a class="networks__link"
                                  title="<%= content.profiles[profile].networks[network].name %>"
                                  href="<%= content.profiles[profile].networks[network].link %>"
                                  target="_blank">
            <i class="fa fa-lg <%= content.profiles[profile].networks[network].icon %>"
               aria-hidden="true"></i>
            <span class="visible@print"><%= content.profiles[profile].networks[network].name %></span>
        </a></li>
    <% } %>
    <% } %>
</ul>