<!DOCTYPE html>
<html lang="de">
<head>
    <% include ../partials/head.ejs %>
    <title><%= pkg.name %></title>
    <meta name="description" content="<%= pkg.description %>">
</head>

<body class="page" itemscope itemtype="http://schema.org/Organization">

<header class="page__header">
    <h1 class="visible@print" itemprop="name"><%= pkg.name %></h1>
</header>

<main class="page__body">

    <% for(profile in content.profiles) { %>
    <% include ../partials/person.ejs %>
    <% } %>

</main>

<footer class="page__footer">
    <ul class="networks networks--center">
        <li class="networks__item">
            <a class="networks__link" href="/"><i class="fa fa-home" aria-hidden="true"></i> Guices</a>
        </li>
    </ul>
</footer>

<% include ../partials/footer.ejs %>
</body>
</html>
